.navbar{
    border-bottom:1px solid black;
    display: flex;
    align-items: center;
    grid-gap: 125px;
    padding: 5px;
    height: 85px;
    button{
      height: 45px;
      margin-left: 25px;
      border-radius: 0px !important;
      border: 2px solid blue !important;
      padding: 10px;
      background: transparent;
      cursor: pointer;
      color: black;
    }
  }